* {
  z-index: 2;
}

#particles-js {
  background: #8f95d3;
}

#particles-js canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

body {
  background-image: url("assets/ignasi_pattern_s.png");
}

.columns {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
  }
}

.section {
  padding: 1rem 1.5rem !important;
}

#header {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar a {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* #about {
  margin-bottom: 50px;
} */

.selfie {
  margin-bottom: 2rem;
}

#projectTagline {
  margin-bottom: 2rem;
}

#project {
  margin-bottom: 2rem;
}

#projectDescription {
  padding: 0.75rem;
  font-size: 24px;
}

#projectHeader {
  box-shadow: none;
}

#skills {
  margin-bottom: 2rem;
}

#contact {
  margin-bottom: 1.25rem;
}

#navbarExampleTransparentExample {
  margin-left: 20px;
}

.tags {
  padding-right: 10px;
}

#tag {
  border-radius: 0px;
}

.dropdown {
  background: rgba(10, 10, 10, 0.1);
  transition: 0.2s;
}

.card-image {
  padding: 2rem;
}

.card-header {
  box-shadow: none;
}

.card-header-title {
  font-size: 32px;
  font-weight: 700;
}

.content {
  text-align: left;
}

.blurb {
  margin-bottom: 2rem;
  font-size: 1.45898rem;
}

.card-content {
  padding: 0.75rem;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-github-square {
  color: #333;
}

.fa-twitter-square {
  color: #00aced;
}

.fa-envelope-square {
  color: #c71610;
}

.fa-js-square {
  color: #f7df1e;
}

.fa-html5 {
  color: #e34f26;
}

.fa-css3 {
  color: #3b5998;
}

.fa-react {
  color: #00d8ff;
}
